<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/articles.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('parts/header')%>
    <section class="breadcrumbs">
        <a href="/" class="prev-page">Главная</a>
        <span class="prev-page-line"></span>
        <a href="/" class="prev-page">О нас</a>
        <span class="prev-page-line"></span>
        <a href="" class="current-page">Статьи</a>
    </section>
    <section class="content">
        <h2 class="content-header">Статьи</h2>
        <div class="content-body">
            <%for(let i = 0; i < data.countArticles; i ++){%>
                <div class="article-item">
                    <img src="img/article1.png" alt="">
                    <div class="feedback-item-info">
                        <div class="info-header">Компания “Крапт” </div>
                        <div class="info-text">В Украине набирает большие темпы индивидуальное строительство. Из большого количества строительных материалов многие выбирают шлакоблок. Дом из этого материала возводится в короткие сроки и, главное, стоит небольших денег. Дом из шлакоблока подлежит внутренней и внешней отделке. В данной статье мы расскажем, как утеплить дом из шлакоблока. </div>
                        <a href="/about/articles/article">
                            <span>Подробнее</span>
                            <svg width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 2.5H20" stroke="#1235C4" stroke-linejoin="round"/>
                                <path d="M22 2.5L18.25 4.66506L18.25 0.334936L22 2.5Z" fill="#1235C4"/>
                            </svg>
                        </a>
                    </div>
                </div>
            <%}%>
        </div>
        <%if(data.countArticles > 4){%>
            <div class="articles-items-navigation">
                <div class="prev-page nav-btn">
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 5L5 1L1 5" stroke="#1235C4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Предыдущая</span>
                </div>
                <div class="pagination">
                    <%if(data.countPage <= 4){%>
                        <span class="num-page active-num-page">1</span>
                        <span class="num-page">2</span>
                        <span class="num-page">3</span>
                        <span class="num-page">4</span>
                    <%}else if(data.numberPage == 1 || data.numberPage == 2 || data.numberPage == data.countPage || data.numberPage == data.countPage - 1){%>
                        <span class="num-page active-num-page">1</span>
                        <span class="num-page">2</span>
                        <span class="num-page dots">...</span>
                        <span class="num-page"><%= data.countPage - 1%></span>
                        <span class="num-page"><%= data.countPage%></span>
                    <%}else{%>
                        <span class="num-page">1</span>
                        <span class="num-page dots">...</span>
                        <span class="num-page"><%= data.numberPage - 1%></span>
                        <span class="num-page active-num-page"><%= data.numberPage%></span>
                        <span class="num-page"><%= data.numberPage + 1%></span>
                        <span class="num-page dots">...</span>
                        <span class="num-page"><%= data.countPage%></span>
                    <%}%>
                </div>
                <div class="next-page nav-btn">
                    <span>Следующая</span>
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 5L5 1L1 5" stroke="#1235C4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        <%}%>
    </section>
    <%- include('parts/footer')%>
    <script src="js/modal.js"></script>
    <script src="js/faq.js"></script>
</body>
</html>