<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/calculator.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('parts/header', {links: links})%>
    <section class="breadcrumbs">
        <a href="/" class="prev-page">Главная</a>
        <span class="prev-page-line"></span>
        <a href="" class="current-page">Калькулятор</a>
    </section>
    <section class="content">
        <h2 class="content-header">Онлайн калькулятор для расчёта количества шлакоблоков</h2>
        <div class="content-title">С помощью данного калькулятора можно рассчитать общее количество шлакоблоков для постройки дома, гаража, забора и т.п. </div>
        <div class="content-body">
            <div class="calculator-data">
                <div class="calculator-header">Введите данные</div>
                <div class="input-item">
                    <div class="input-header">Тип шлакоблока</div>
                    <div class="selected-item">
                        <span class="submenu-btn type"><span class="active-list-item-type" data="<%=products[0].price%>"><%=products[0].name%></span>
                            <div class="menu-list">
                                <%for(let i = 0; i < products.length; i++){%>
                                    <%if(products[i].name != ''){%>
                                        <div class="menu-list-item new-submenu-item" data="<%=products[i].price%>"><%=products[i].name%></div>
                                    <%}%>
                                <%}%>
                            </div>
                            <img src="img/arrow.svg" alt="">
                        </span>
                    </div>
                </div>
                <div class="input-item input-item-small">
                    <div class="input-header">Длина всех стен </div>
                    <div class="input-title">(периметр, м)</div>
                    <input type="text" name="perimetr">
                </div>
                <div class="input-item input-item-small">
                    <div class="input-header">Выстота стены</div>
                    <div class="input-title">(м)</div>
                    <input type="text" name="heigth">
                </div>
                <div class="input-item input-item-small">
                    <div class="input-header">Толщина стены</div>
                    <span class="submenu-btn block"><span data="0.19" class="active-list-item-block">0,19 - (пол блока)</span>
                        <div class="menu-list">
                            <div class="menu-list-item new-submenu-item" data="0.19">0,19 - (пол стенового блока)</div>
                            <div class="menu-list-item new-submenu-item" data="0.39">0,39 - (один стеновой блок)</div>
                            <div class="menu-list-item new-submenu-item" data="0.09">0,09 - (перегородочный)</div>
                        </div>
                        <img src="img/arrow.svg" alt="">
                    </span>
                </div>
                <div class="input-item input-item-small">
                    <div class="input-header">Тощина шва раствора</div>
                    <span class="submenu-btn weight"><span data="0.01" class="active-list-item-weight">10</span>
                        <div class="menu-list">
                            <div class="menu-list-item new-submenu-item" data="0.01">10</div>
                            <div class="menu-list-item new-submenu-item" data="0.015">15</div>
                        </div>
                        <img src="img/arrow.svg" alt="">
                    </span>
                </div>
                <div class="calculate-btn">Посчитать</div>
            </div>
            <div class="calculator-result">
                <div class="calculator-header">Результат</div>
                <div class="input-item input-item-small">
                    <div class="input-header">Количество шлакоблоков</div>
                    <span class="count-blocks">0</span>
                </div>
                <div class="input-item input-item-small">
                    <div class="input-header input-header-price">Цена за 0 блоков</div>
                    <span class="count-price">0 грн</span>
                </div>
                <div class="order-btn">Заказать</div>
                <img src="img/shlakobloki-calc.png" alt="">
            </div>
        </div>
    </section>
    <section class="catalog">
        <div class="catalog-header">
            <span>Выбор шлакоблоков</span>
        </div>
        <div class="catalog-preview">
            <%for(let i = 0; i < products.length; i++){%>
                <div class="preview-item">
                    <a class="wrap-photo" href="/<%=products[i].categorie%>/<%=products[i]._id%>">
                        <%if(products[i].label == 'Акция'){%>
                            <div class="sale">Акция</div>
                        <%}else if(products[i].label == 'Новинка'){%>
                            <div class="new">Новинка</div>
                        <%}%>
                        <img src="<%=products[i].img%>" alt="">
                    </a>
                    <a href="/<%=products[i].categorie%>/<%=products[i]._id%>" class="product-name"><%=products[i].name%></a>
                    <div class="price-info">
                        <span class="item-price"><%=products[i].preice%></span>
                        <div class="item-count"><%=products[i].typePrice%></div>
                    </div>
                    <div class="item-rating">
                        <span class="rating-count"><%=products[i].rating%></span>
                        <div class="star-rating">
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                            </svg>
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                            </svg>
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                            </svg>
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                            </svg>
                        </div>
                    </div>
                    <a href="/<%=products[i].categorie%>/<%=products[i]._id%>" class="about-product">
                        <span>Подробнее</span>
                        <svg width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 2.5H20" stroke="#1235C4" stroke-linejoin="round"/>
                            <path d="M22 2.5L18.25 4.66506L18.25 0.334936L22 2.5Z" fill="#1235C4"/>
                        </svg>
                    </a>
                </div>
            <%}%>
        </div>
    </section>
    <section class="description">
        <div class="wrap-description">
            <div class="description-header"><%=data.page%></div>
            <div class="description-text"><pre><%-data.description%></pre></div>
        </div>
    </section>
    <%- include('parts/footer', {links: links, charts: charts})%>
    <script src="js/modal.js"></script>
    <script src="js/calculator.js"></script>
</body>
</html>