<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/categorie.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('parts/header', {links: links})%>
    <section class="products">
        <div class="mobile-filter-bg"></div>
        <div class="<%=(data.filter) ? 'filter' : 'no-filter'%>" categorie="<%=products[0].categorie%>">
            <div class="filter-title">Сортировка:</div>
            <div class="sort-of submenu-btn"><span>По популярности</span>
                <img src="img/arrow.svg" alt="">
                <div class="menu-list sort-list">
                    <div class="menu-list-item sort-list-item new-submenu-item">По популярности</div>
                    <div class="menu-list-item sort-list-item new-submenu-item">По цене</div>
                </div>
            </div>
            <div class="active-filters">
            </div>
            <%for(let i = 0; i < data.filterData.length; i ++){%>
                <div class="filter-block" filter="<%=data.filterData[i].filter%>">
                    <div class="filter-title"><%=data.filterData[i].name%></div>
                    <%for(let j = 0; j < data.filterData[i].fields.length; j++){%>
                        <div class="checkbox-item">
                            <div class="checkbox"></div>
                            <span class="label"><%=data.filterData[i].fields[j]%></span>
                        </div>
                    <%}%>
                </div>
            <%}%>
            <div class="mobile-filter-btn">
                <img src="img/filter.svg" alt="">
            </div>
        </div>
        <div class="product-items">
            <section class="breadcrumbs">
                <a href="/" class="prev-page">Главная</a>
                <span class="prev-page-line"></span>
                <a href="" class="current-page"><%=data.page%></a>
            </section>
            <%if(data.calculator){%>
                <section class="calculator">
                    <div class="wrap-calculator">
                        <span class="calculator-title">Расчитать примерное количество и стоимость шлакоблоков можно в нашем</span>
                        <a href="/calculator">
                            <span>Калькуляторе для Шлакоблоков</span>
                            <svg width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 2.5H20" stroke="#1235C4" stroke-linejoin="round"/>
                                <path d="M22 2.5L18.25 4.66506L18.25 0.334936L22 2.5Z" fill="#1235C4"/>
                            </svg>
                        </a>
                    </div>
                </section>
            <%}%>
            <div class="filter-items">
                <%for(let i = 0; i < products.length; i ++){%>
                    <div class="preview-item">
                        <div class="wrap-photo">
                            <%if(products[i].label == 'Акция'){%>
                                <div class="sale">Акция</div>
                            <%}else if(products[i].label == 'Новинка'){%>
                                <div class="new">Новинка</div>
                            <%}%>
                            <img src="<%=products[i].img%>" alt="">
                        </div>
                        <h3><%=products[i].name%></h3>
                        <div class="price-info">
                            <span class="item-price"><%=products[i].price%></span>
                            <div class="item-count"><%=products[i].typePrice%></div>
                        </div>
                        <div class="item-rating">
                            <span class="rating-count"><%=products[i].rating%></span>
                            <div class="star-rating">
                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                                </svg>
                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                                </svg>
                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                                </svg>
                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                                </svg>
                            </div>
                        </div>
                        <a href="/<%=data.categorie%>/<%=products[i]._id%>">
                            <span>Подробнее</span>
                            <svg width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 2.5H20" stroke="#1235C4" stroke-linejoin="round"/>
                                <path d="M22 2.5L18.25 4.66506L18.25 0.334936L22 2.5Z" fill="#1235C4"/>
                            </svg>
                        </a>
                    </div>
                <%}%>
            </div>
            <%if(data.countItem > 12){%>
                <div class="filter-items-navigation">
                    <a href="/catalog/<%=data.categorie%>/?page=<%= data.numberPage - 1%>" class="prev-page nav-btn">
                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 5L5 1L1 5" stroke="#1235C4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>Предыдущая</span>
                    </a>
                    <div class="pagination">
                        <%if(data.countPage <= 4){%>
                            <%for(let i = 0; i < data.countPage; i++){%>
                                <%if(i + 1 == data.numberPage){%>
                                    <a href="/catalog/<%=data.categorie%>/?page=<%=i + 1%>" class="num-page active-num-page"><%=i + 1%></a>
                                <%}else{%>
                                    <a href="/catalog/<%=data.categorie%>/?page=<%=i + 1%>" class="num-page"><%=i + 1%></a>
                                <%}%>
                            <%}%>
                        <%}else if(data.numberPage == 1 || data.numberPage == 2 || data.numberPage == data.countPage || data.numberPage == data.countPage - 1){%>
                            <a href="/catalog/<%=data.categorie%>/?page=1" class="num-page active-num-page">1</a>
                            <a href="/catalog/<%=data.categorie%>/?page=2" class="num-page">2</a>
                            <a class="num-page dots">...</a>
                            <a href="/catalog/<%=data.categorie%>/?page=<%= data.countPage - 1%>" class="num-page"><%= data.countPage - 1%></a>
                            <a href="/catalog/<%=data.categorie%>/?page=<%= data.countPage%>" class="num-page"><%= data.countPage%></a>
                        <%}else{%>
                            <a href="/catalog/<%=data.categorie%>/?page=1" class="num-page">1</a>
                            <a class="num-page dots">...</a>
                            <a href="/catalog/<%=data.categorie%>/?page=<%= data.numberPage - 1%>" class="num-page"><%= data.numberPage - 1%></a>
                            <a href="/catalog/<%=data.categorie%>/?page=<%= data.numberPage%>" class="num-page active-num-page"><%= data.numberPage%></a>
                            <a href="/catalog/<%=data.categorie%>/?page=<%= data.numberPage + 1%>" class="num-page"><%= data.numberPage + 1%></a>
                            <a class="num-page dots">...</a>
                            <a href="/catalog/<%=data.categorie%>/?page=<%= data.countPage%>" class="num-page"><%= data.countPage%></a>
                        <%}%>
                    </div>
                    <a href="/catalog/<%=data.categorie%>/?page=<%= data.numberPage + 1%>" class="next-page nav-btn">
                        <span>Следующая</span>
                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 5L5 1L1 5" stroke="#1235C4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            <%}%>
        </div>
    </section>
    <section class="description">
        <div class="wrap-description">
            <div class="description-header"><%=data.page%></div>
            <div class="description-text"><pre><%-data.description%></pre></div>
        </div>
    </section>
    <%- include('parts/footer', {links: links, charts: charts})%>
    <script src="js/modal.js"></script>
    <script src="js/script.js"></script>
</body>
</html>