<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/delivery.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('parts/header', {links: links})%>
    <section class="breadcrumbs">
        <a href="/" class="prev-page">Главная</a>
        <span class="prev-page-line"></span>
        <a href="" class="current-page">Оплата и доставка</a>
    </section>
    <section class="content">
        <h2 class="content-header">Оплата и доставка</h2>
        <div class="content-title">
        Наша команда организует доставку товара по выгодной цене и в короткие сроки в любую точку Киева и области.
        Доставка еврорубероида и мастик по Украине осуществляется курьерской службой “Новая Почта”.
        </div>
        <div class="content-title content-title-bold">В нашем распоряжении есть все виды транспорта:
        </div>
        <div class="content-body">
            <%for(let i = 0; i < marks.length; i++){%>
                <div class="delivery-item">
                    <img src="<%=marks[i].imgs[0]%>" alt="">
                    <div class="delivery-info">
                        <div class="delivery-name"><%=marks[i].name%></div>
                        <div class="delivery-chars"> <%-marks[i].title%></div>
                        <div class="delivery-price"><%=marks[i].price%></div>
                    </div>
                </div>
            <%}%>
        </div>
    </section>
    <%- include('parts/footer', {links: links, charts: charts})%>
    <script src="js/modal.js"></script>
</body>
</html>