<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/faq.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('parts/header', {links: links})%>
    <section class="breadcrumbs">
        <a href="/" class="prev-page">Главная</a>
        <span class="prev-page-line"></span>
        <a href="" class="current-page">FAQ</a>
    </section>
    <section class="content">
        <h2 class="content-header">Часто задаваемые вопросы (FAQ)</h2>
        <div class="content-body">
            <%for(let i = 0; i < marks.length; i++){%>
                <%if(marks[i].length > 0){%>
                    <div class="faq-item">
                        <div class="faq-item-header"><%=marks[i][0].categorie%></div>
                        <div class="faq-questions">
                            <%for(let j = 0; j < marks[i].length; j++){%>
                                <div class="question-item">
                                    <div class="question-header">
                                        <span><%=marks[i][j].name%></span>
                                        <img src="img/arrow.svg" alt="">
                                    </div>
                                    <div class="question-answer"><%=marks[i][j].title%> </div>
                                </div>
                            <%}%>
                        </div>
                    </div>
                <%}%>
            <%}%>
        </div>
    </section>
    <%- include('parts/footer', {links: links, charts: charts})%>
    <script src="js/modal.js"></script>
    <script src="js/faq.js"></script>
</body>
</html>