<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="js/owl-slider/css/owl.carousel.css">
    <link rel="stylesheet" href="js/owl-slider/css/owl.theme.default.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('parts/header', {links: links, charts: charts})%>
    <div class="after-nav"></div>
    <section class="main-slider">
        <div class="slider-roller owl-carousel">
            <%for(let i = 0; i < slides.length; i++){%>
                <div class="slide">
                    <img src="<%=slides[i].img%>" alt="">
                    <div class="slide-info">
                        <h3><%-slides[i].name%></h3>
                        <span class="price"><%=slides[i].price%></span>
                        <a href="<%=slides[i].url%>"><span>Подробнее</span><img src="img/arrowright.png" alt=""></a>
                    </div>
                </div>
            <%}%>
        </div>
        <div class="slider-nav">
            <span>01</span>
            <span class="line"></span>
            <span>04</span>
        </div>
    </section>
    <section class="categories">
        <a href="/catalog/evroruberoid" class="categorie">
            <span class="name">Еврорубероид</span>
            <img src="img/rubiroid.png" alt="">
        </a>
        <a href="/catalog/mastika" class="categorie">
            <span class="name">Мастики, праймеры</span>
            <img src="img/mastika.png" alt="">
        </a>
        <a href="/catalog/germetik" class="categorie">
            <span class="name">Герметики</span>
            <img src="img/germetik.png" alt="">
        </a>
        <a href="/catalog/podkladochnyi-kover" class="categorie">
            <span class="name">Подкладочный ковер</span>
            <img src="img/kover.png" alt="">
        </a>
        <a href="/catalog/shlakoblock" class="categorie">
            <span class="name">Шлакоблок</span>
            <img src="img/shlakoblock.png" alt="">
        </a>
    </section>
    <section class="description">
        <div class="description-info">
            <p>Производственно-кровельная компания «ОРЕОЛ-1» успешно работает на строительном рынке с 1990 года. На сегодняшний день в нашей компании вы можете получить полный сервис по комплексному снабжению кровельными материалами, а также широкий спектр ремонтно-строительных услуг. <br><br>
            Ассортимент предлагаемой продукции довольно широкий. Мы помогаем нашим клиентам обустроить кровельные системы, отремонтировать фасады домов, сделать гидроизоляцию подвалов, бассейнов, фундаментов с использованием наших материалов с минимальными затратами и в очень короткие сроки.</p>
            <a href="/about/company">
                <span>Подробнее</span>
                <svg width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 2.5H20" stroke="#1235C4" stroke-linejoin="round"/>
                    <path d="M22 2.5L18.25 4.66506L18.25 0.334936L22 2.5Z" fill="#1235C4"/>
                </svg>
            </a>
        </div>
        <img src="img/oreol-zavod.png" alt="">
    </section>
    <section class="catalog">
        <div class="catalog-header">
            <span>Товары</span>
            <a href="/catalog">
                <span>Перейти в каталог</span>
                <svg width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 2.5H20" stroke="#1235C4" stroke-linejoin="round"/>
                    <path d="M22 2.5L18.25 4.66506L18.25 0.334936L22 2.5Z" fill="#1235C4"/>
                </svg>
            </a>
        </div>
        <div class="catalog-preview">
            <div class="preview-item">
                <div class="wrap-photo">
                    <div class="sale">Акция</div>
                    <img src="img/cat-test.png" alt="">
                </div>
                <h3>Шлакоблок стеновой 390*190*188</h3>
                <div class="price-info">
                    <span class="item-price">16,90 грн</span>
                    <div class="item-count">за единицу</div>
                </div>
                <div class="item-rating">
                    <span class="rating-count">4,7</span>
                    <div class="star-rating">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                        </svg>
                    </div>
                </div>
                <a href="">
                    <span>Подробнее</span>
                    <svg width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 2.5H20" stroke="#1235C4" stroke-linejoin="round"/>
                        <path d="M22 2.5L18.25 4.66506L18.25 0.334936L22 2.5Z" fill="#1235C4"/>
                    </svg>
                </a>
            </div>
            <div class="preview-item">
                <div class="wrap-photo">
                    <div class="sale">Акция</div>
                    <img src="img/cat-test.png" alt="">
                </div>
                <h3>Шлакоблок стеновой 390*190*188</h3>
                <div class="price-info">
                    <span class="item-price">16,90 грн</span>
                    <div class="item-count">за единицу</div>
                </div>
                <div class="item-rating">
                    <span class="rating-count">4,7</span>
                    <div class="star-rating">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                        </svg>
                    </div>
                </div>
                <a href="">
                    <span>Подробнее</span>
                    <svg width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 2.5H20" stroke="#1235C4" stroke-linejoin="round"/>
                        <path d="M22 2.5L18.25 4.66506L18.25 0.334936L22 2.5Z" fill="#1235C4"/>
                    </svg>
                </a>
            </div>
            <div class="preview-item">
                <div class="wrap-photo">
                    <div class="sale">Акция</div>
                    <img src="img/cat-test.png" alt="">
                </div>
                <h3>Шлакоблок стеновой 390*190*188</h3>
                <div class="price-info">
                    <span class="item-price">16,90 грн</span>
                    <div class="item-count">за единицу</div>
                </div>
                <div class="item-rating">
                    <span class="rating-count">4,7</span>
                    <div class="star-rating">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                        </svg>
                    </div>
                </div>
                <a href="">
                    <span>Подробнее</span>
                    <svg width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 2.5H20" stroke="#1235C4" stroke-linejoin="round"/>
                        <path d="M22 2.5L18.25 4.66506L18.25 0.334936L22 2.5Z" fill="#1235C4"/>
                    </svg>
                </a>
            </div>
        </div>
    </section>
    <section class="calculators">
        <div class="calculator-header">Расчет расхода материалов</div>
        <a href="/calculator" class="calculator-item">
            <img src="img/shlakobloki-calc.png" alt="">
            <div class="calculator-item-title">Онлайн калькулятор для расчёта количества шлакоблоков</div>
        </a>
    </section>
    <%- include('parts/footer', {links: links, charts: charts})%>
    <script src="js/modal.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/owl-slider/js/owl.carousel.js"></script>
    <script src="js/slider.js"></script>
</body>
</html>
