<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('parts/header', {links: links})%>
    <section class="breadcrumbs <%=(data.filter) ? 'breadcrumbs-filter' : ''%>">
        <a href="/" class="prev-page">Главная</a>
        <span class="prev-page-line"></span>
        <a href="/catalog/<%=data.categorieLink%>" class="prev-page"><%=data.categorie%></a>
        <span class="prev-page-line"></span>
        <a href="" class="current-page"><%=product.name%></a>
    </section>
    <%if(data.calculator){%>
        <section class="calculator">
            <div class="wrap-calculator">
                <span class="calculator-title">Расчитать примерное количество и стоимость шлакоблоков можно в нашем</span>
                <a href="/calculator">
                    <span>Калькуляторе для Шлакоблоков</span>
                    <svg width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 2.5H20" stroke="#1235C4" stroke-linejoin="round"/>
                        <path d="M22 2.5L18.25 4.66506L18.25 0.334936L22 2.5Z" fill="#1235C4"/>
                    </svg>
                </a>
            </div>
        </section>
    <%}%>
    <section class="product-preview">
        <div class="product-photo">
            <%if(product.label == 'Акция'){%>
                <div class="sale">Акция</div>
            <%}else if(product.label == 'Новинка'){%>
                <div class="new">Новинка</div>
            <%}%>
            <img src="<%=product.img%>" alt="">
        </div>
        <div class="product-info">
            <div class="product-rating">
                <span class="rating-count"><%=product.rating%></span>
                <div class="star-rating">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                    </svg>
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                    </svg>
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                    </svg>
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                    </svg>
                </div>
            </div>
            <div class="product-name"><%=product.name%></div>
            <div class="product-nav">
                <div class="product-price">
                    <span class="price"><%=product.price%></span>
                    <span class="price-title"><%=product.typePrice%></span>
                </div>
                <div class="product-btns">
                    <div class="buy-btn">Купить</div>
                    <a href="#product-data" class="about-btn">Подробнее о товаре</a>
                </div>
                <div class="call-btn">
                    <img src="img/phone.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="catalog">
        <div class="catalog-header">
            <span>Вас также могут заинтересовать</span>
        </div>
        <div class="catalog-preview">
            <%for(let i = 0; i < interesting.length; i++){%>
                <div class="preview-item">
                    <div class="wrap-photo">
                        <%if(interesting[i].label == 'Акция'){%>
                            <div class="sale">Акция</div>
                        <%}else if(interesting[i].label == 'Новинка'){%>
                            <div class="new">Новинка</div>
                        <%}%>
                        <img src="<%=interesting[i].img%>" alt="">
                    </div>
                    <h3><%=interesting[i].name%></h3>
                    <div class="price-info">
                        <span class="item-price"><%=interesting[i].preice%></span>
                        <div class="item-count"><%=interesting[i].typePrice%></div>
                    </div>
                    <div class="item-rating">
                        <span class="rating-count"><%=interesting[i].rating%></span>
                        <div class="star-rating">
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                            </svg>
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                            </svg>
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                            </svg>
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F1F1F1"/>
                            </svg>
                        </div>
                    </div>
                    <a href="/<%=interesting[i].categorie%>/<%=interesting[i]._id%>">
                        <span>Подробнее</span>
                        <svg width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 2.5H20" stroke="#1235C4" stroke-linejoin="round"/>
                            <path d="M22 2.5L18.25 4.66506L18.25 0.334936L22 2.5Z" fill="#1235C4"/>
                        </svg>
                    </a>
                </div>
            <%}%>
        </div>
    </section>
    <section class="product-data" id="product-data">
        <div class="product-chars">
            <div class="product-header">Характеристики</div>
            <div class="chars">
                <%for(let i = 0; i < product.characteristics.length; i++){%>
                    <div class="chars-item">
                        <div class="chars-name"><%=product.characteristics[i].name%>:</div>
                        <div class="chars-val"><%=product.characteristics[i].value%></div>
                    </div>
                <%}%>
            </div>
        </div>
        <div class="product-description">
            <div class="product-header">Описание</div>
            <div class="description"><%-product.description%></div>
        </div>
    </section>
    <section class="comments">
        <div class="comments-header">Отзывы</div>
        <div id="disqus_thread"></div>
        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        var disqus_config = function () {
            this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '<%=product._id%>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://oreol.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
    <%- include('parts/footer', {links: links, charts: charts})%>
    <script src="js/modal.js"></script>
    <script src="js/disqus.js"></script>
</body>
</html>