<footer class="none-active-footer">
    <div class="footer-wrap">
        <div class="footer-item logo-item">
            <a href="/">
                <svg width="180" height="28" viewBox="0 0 180 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.946 0.826203C17.9137 0.826203 20.8813 0.717473 23.8489 0.826203C28.2194 0.989297 30 2.89206 30.054 7.24125C30.054 11.7535 30.1079 16.2658 30.054 20.7781C30.054 24.5836 28.3813 26.7038 24.6583 26.8669C18.2914 27.0844 11.9245 27.1388 5.55755 26.9213C1.83453 26.8126 0.107914 24.7467 0.0539568 20.9412C0 16.3202 0 11.7535 0 7.13252C0 2.94643 1.83453 0.989297 6.04316 0.826203C9.01079 0.717473 11.9784 0.771838 14.946 0.826203C14.946 0.826203 14.946 0.771838 14.946 0.826203ZM22.5 13.8737C22.2842 6.6976 24.2266 6.31704 15.2158 6.31704C6.09712 6.37141 7.60791 6.20832 7.55396 14.0368C7.55396 21.4305 6.09712 21.4305 14.946 21.4305C24.0647 21.4848 22.3381 21.3217 22.5 13.8737Z" fill="white"/>
                    <path d="M110.882 0.826156C113.957 0.826156 116.979 0.717427 120.054 0.826156C123.939 0.989251 125.774 3.00075 125.774 6.80628C125.774 11.536 125.828 16.2114 125.774 20.9411C125.774 24.6379 123.993 26.8125 120.324 26.9212C114.065 27.0843 107.752 27.0843 101.439 26.9212C97.6622 26.8125 95.9355 24.6923 95.9355 20.9411C95.9355 16.2114 95.9355 11.536 95.9355 6.80628C95.9895 2.94638 97.878 0.934886 101.655 0.826156C104.731 0.717427 107.806 0.826156 110.882 0.826156ZM118.22 13.8737C118.166 5.99081 119.299 6.37136 111.259 6.317C102.087 6.317 103.543 5.99081 103.543 14.1455C103.543 21.376 102.141 21.4304 110.774 21.376C119.623 21.4304 118.058 21.7566 118.22 13.8737Z" fill="white"/>
                    <path d="M39.5501 26.9213C36.7443 27.0844 34.4781 27.2475 31.9961 26.8669C31.9961 18.2773 31.9961 9.79641 31.9961 1.36987C32.5896 0.663131 33.345 0.826225 34.0465 0.826225C41.1688 0.826225 48.2371 0.77186 55.3594 0.826225C59.8918 0.826225 61.7263 2.72899 61.8342 7.24127C62.05 16.7007 61.1328 17.6793 51.6903 17.6793C47.7515 17.6793 43.8126 17.6793 39.5501 17.6793C39.5501 20.7781 39.5501 23.7138 39.5501 26.9213ZM39.4421 6.37143C39.4421 8.05674 39.4421 9.30713 39.4421 10.5575C39.4421 11.5361 39.8738 12.0797 40.845 12.0797C44.6759 12.0797 48.5608 12.1885 52.3918 12.0254C54.55 11.9166 54.2263 10.0682 54.2803 8.49166C54.3342 6.96944 53.5788 6.37143 52.1759 6.37143C48.0752 6.37143 43.9745 6.37143 39.4421 6.37143Z" fill="white"/>
                    <path d="M142.824 8.32859C140.288 14.2 137.914 19.3646 135.756 24.638C135.001 26.4864 133.975 27.3019 131.979 27.0844C130.144 26.9213 128.256 27.0301 125.882 27.0301C129.929 18.7666 133.598 10.8294 137.698 3.10957C139.533 -0.369775 146.062 -0.369775 147.896 3.10957C151.997 10.8294 155.612 18.7666 159.659 27.0301C156.853 27.0301 154.533 26.9757 152.213 27.0301C150.756 27.0844 150.486 25.9428 150.055 24.9642C147.734 19.6365 145.414 14.2543 142.824 8.32859Z" fill="white"/>
                    <path d="M180 27.0299C177.518 27.0299 175.252 27.0299 172.716 27.0299C172.716 20.343 172.716 13.7649 172.716 6.96931C171.583 6.86058 170.774 6.75185 169.856 6.64312C169.856 5.06655 169.856 3.65306 169.856 2.18521C173.04 0.445539 176.439 0.880457 180 0.934822C180 9.57882 180 18.1685 180 27.0299Z" fill="white"/>
                    <path d="M64.0459 17.0267C64.0459 14.9608 64.0459 13.0037 64.0459 10.8291C73.866 10.8291 83.6862 10.8291 93.6682 10.8291C93.6682 12.8406 93.6682 14.8521 93.6682 17.0267C83.7941 17.0267 73.974 17.0267 64.0459 17.0267Z" fill="white"/>
                    <path d="M64.0996 26.8669C64.0996 24.6923 64.0996 22.6808 64.0996 20.6149C73.9737 20.6149 83.7399 20.6149 93.668 20.6149C93.668 22.6808 93.668 24.6923 93.668 26.8669C83.8478 26.8669 74.0277 26.8669 64.0996 26.8669Z" fill="white"/>
                    <path d="M64.0459 7.07803C64.0459 4.95781 64.0459 3.00068 64.0459 0.934814C73.974 0.934814 83.7941 0.934814 93.7221 0.934814C93.7221 3.00068 93.7221 4.95781 93.7221 7.07803C83.902 7.07803 74.1358 7.07803 64.0459 7.07803Z" fill="white"/>
                    <path d="M167.103 14.7979C166.833 17.1355 165.7 18.6578 163.38 18.7121C161.06 18.7665 159.711 17.353 159.603 15.0697C159.549 12.732 160.898 11.3185 163.164 11.2642C165.538 11.1011 166.671 12.6233 167.103 14.7979Z" fill="white"/>
                </svg>
                <div class="footer-title">Производственно-кровельная компания</div>
            </a>
            <div class="footer-chart"><%=charts.chart%></div>
            <div class="footer-phone"><%=charts.phone1%></div>
            <div class="footer-phone"><%=charts.phone2%></div>
            <div class="footer-phone"><%=charts.phone3%></div> 
        </div>
        <%for(let i = 0; i < links.length; i++){%>
            <%if(links[i].sublink == 'Да'){%>
                <div class="footer-item">
                    <a href="<%=links[i].url%>" class="footer-header"><%=links[i].name[0]%></a>
                    <%for(let j = 0; j < links.length; j++){%>
                        <%if(links[j].sublink == links[i].name[0]){%>
                            <a href="<%=links[j].url%>" class="footer-link"><%=links[j].name[0]%></a>
                        <%}%>
                    <%}%>
                </div>
            <%}%>
        <%}%>
        <div class="footer-item">
            <%for(let i = 0; i < links.length; i++){%>
                <%if(links[i].sublink == 'Нет'){%>
                    <a href="<%=links[i].url%>" class="footer-header"><%=links[i].name[0]%></a>
                <%}%>
            <%}%>
        </div>
        <div class="footer-item">
            <a href="/calculator" class="footer-link">Калькулятор шлакоблока</a>
        </div>
    </div>
    <div class="copyright">
        Ⓒ 2020, ООО “Ореол”
    </div>
    <div class="footer-btn-menu">
        <img src="img/footer-btn.png" alt="">
    </div>
</footer>
<div class="call-modal">
    <div class="wrap-modal">
        <img class="close-modal" src="img/close.svg" alt="">
        <div class="call-header">Заполните форму</div>
        <div class="call-title">И мы перезвоним Вам через 5 минут*</div>
        <form action="">
            <div class="call-input-wrap">
                <input type="text" name="name" class="call-input">
                <span class="placeholder">Имя</span>
                <img src="img/error.svg" class="error-img" alt="">
                <span class="error-message">Используйте кирилличекие буквы</span>
            </div>
            <div class="call-input-wrap">
                <input type="text" name="phone" class="call-input">
                <span class="placeholder">Телефон </span>
                <img src="img/error.svg" class="error-img" alt="">
                <span class="error-message">Неверный формат</span>
            </div>
            <div class="call-input-wrap">
                <input type="text" name="email" class="call-input">
                <span class="placeholder">email если есть</span>
                <img src="img/error.svg" class="error-img" alt="">
                <span class="error-message">Неверный формат</span>
            </div>
            <input type="submit" name="submit" class="submit-btn">
        </form>
        <span class="chart-title">*Время работы магазина</span>
        <span class="chart-title"><%=charts.chart%></span>
    </div>
</div>